APP_NAME="Riopae Stock API"
DATABASE_URL="postgresql://riopae:postgres@localhost:5432/riopae_stock?schema=public"
JWT_SECRET="riopae-secret-dev"
JWT_EXPIRES_IN="1d"
REDIS_HOST="localhost"
REDIS_PORT=6379
STOCK_BALANCE_CACHE_TTL=60
